// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background: #1D1E2B;
	color:#fff;
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height: 1.6;
}

.logo {
	background-image: url('../logo.png');
	background-repeat:no-repeat;
	background-position:center center;
	height:110px;
}

.container {
	width:800px;
	margin:0 auto;
	padding:30px;
}

table {
	width:100%;
	margin:30px 0;
	border-spacing: 0;
    border-collapse: collapse;
}

th, td {
	text-align: left;
	padding:15px;
	margin:0;
	vertical-align:top;
}

input {
	width:100%;
	padding:15px;
	border:none;
	background:rgba(0,0,0,.3);
	display:block;
	font-size:16px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	margin:0 0 8px 0;
}

input[type=submit] {
	background:#b8495c;
}

td {
	border-top:1px solid rgba(255,255,255,0.5);
	color:rgba(255,255,255,0.7);
}
